{% extends "template.html" %}

{% block conteudo %}
<section>
    <header class="headerSec">
        {{board}} - {{boardAtual[0].board}}
    </header>
    <div class="list">
        {% for listaItem in listas %}
            <div class="listas">
                <div class="listasTitulo">{{listaItem.nomeLista}}</div>
                <div class="cartao">
                    <div class="cartaoTitulo">Teste1</div>
                    <div class="cartaoItem">2/3</div>
                </div>
                <div class="cartao">
                    <div class="cartaoTitulo">Cartao2</div>
                    <div class="cartaoItem"></div>
                </div>
                <div class="cartao">
                    <div class="cartaoTitulo">Cartão 3</div>
                    <div class="cartaoItem">0/7</div>
                </div>
                <div class="listasRodape">+ Adicionar um cartão</div>
            </div>
        {% endfor %}
        
        
        <div class="listas">+ Adicionar outra lista</div>
    </div>
    {{boards}} <br>
    {{listas}}
</section>
{% endblock %}