{% extends "template.html" %}

{% block conteudo %}

<div class="container">
    <nav class="navIndex">
        <ul>
            <li>Quadros</li>
        </ul>
        <p>Áreas de trabalho</p>
        <ul>
            <li></li>
        </ul>
    </nav>

    <section class="sectionIndex">
        Áreas de trabalho
        <div class="workspace">
            <div class="newBoard boardList flex">
                <span>Criar novo quadro</span>
                
            </div>
            {% for item in listaBoard %}
                <a href="/b/{{item.cod}}">
                    <div class="boardList">{{item.board}}</div>
                </a>
            {% endfor %}
        </div>
    </section>

</div>

{% endblock %}