<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Finanças Pessoais</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-query-smartphone.css') }}" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-query-pc.css') }}" media="screen and (min-width:768px)">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    {% block conteudo %}{% endblock %}
    
</body>